.nigger {
    color: #3c3744;
}
.blauw {
    color: #090c9b;
}
.lichtblauw {
    color: #3066be;
}
.lichterblauw {
    color: #b4c5e4;
}
.wit {
    color: #fbfff1;
}
.rood{
    color: rgb(185, 72, 27);
}